.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  margin: 0;
  padding: 0 0 1rem;
  position: relative;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
    padding-bottom: 2.827rem;
  }

  & a:not(.link),
  & a:not(.link):visited {
    color: $text-color;
  }

  & a:not(.link):focus,
  & a:not(.link):hover,
  & a:not(.link):active, {
    color: $link-color;
  }
}
