{{ define "content" }}

  <div class="container--lg content-single">
    <div class="content-item__row">
      <div class="content-item__meta">
        <h3 class="content-item__icon">
          <i class="jf-i jf-i-file"></i>
        </h3>

        <div class="muted--2x">
          <time class="content-item__date" datetime="{{ .Date }}" title="{{ .Date.Format "2006-01-02 @ 15:04:05" }}">{{ .Date.Format "2006-01-02" }}</time>

          <br>

          {{ .WordCount }} words

          {{ with .Params.tags }}
            <div class="post-categories">
              {{ range . }}
                <div class="post-category">
                  <a href="{{ "tags" | absURL }}{{ . | urlize }}" title="{{ . }}" class="dotted-link caps">{{ . }}</a>
                </div>
              {{ end }}
            </div>
          {{ end }}
        </div>
      </div>

      <div class="content-item__body">
        <h3 class="content-item__title">
          {{ .Title }}
        </h3>

        <article class="markdown-content">
          {{ .Content }}
        </article>

        <div class="relative-navigation">
          {{ with .PrevInSection }}
            <a href="{{.Permalink}}" class="previous">&laquo; {{.Title}}</a>
          {{ end }}

          {{ with .NextInSection }}
            <a href="{{.Permalink}}" class="next">{{.Title}} &raquo;</a>
          {{ end }}

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
