{{ partial "icon.html" (dict "icon" .Params.icon) . }}

<div class="content-sidebar muted--2x">
  <time class="content-item__date" datetime="{{ .Date }}" title="{{ .Date.Format "2006-01-02 @ 15:04:05" }}">{{ .Date.Format "2006-01-02" }}</time>

  <br>

  {{ .WordCount }} words

  {{ with .Params.tags }}
    {{ range . }}
      <div class="content-item__taxonomy">
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}" title="{{ . }}" class="dotted-link caps">{{ . }}</a>
      </div>
    {{ end }}
  {{ end }}
</div>
