<header class="header">
  <div class="measure--lg">
    <div class="header-brand">
      <a href="/" title="{{ .Site.Title }}">{ jxf }</a>
    </div>
    <nav class="header-nav">
      <div class="header-nav-item">
        <a href="/blog" title="blog">blog</a>
      </div>
      <div class="header-nav-item">
        <!-- section is 'work' -->
        <a href="/portfolio" title="work">work</a>
      </div>
      <div class="header-nav-item">
        <a href="/events" title="events">events</a>
      </div>
      <div class="header-nav-item">
        <!-- section is 'meta' -->
        <a href="/meta" title="meta">meta</a>
      </div>
      <div class="header-nav-item">
        <!-- section is 'self' -->
        <a href="/self" title="self">self</a>
      </div>
    </nav>
    <div class="clearfix"></div>
  </div>
</header>
