<header class="header">
  <div class="measure--lg">
    <div class="header-brand">
      <a href="/" title="{{ .Site.Title }}">{ jxf }</a>
    </div>

    {{ $currentPage := . }}

    <nav class="header-nav">
      {{ range .Site.Menus.main }}
        <div class="header-nav-item">
          <a href="{{.URL}}" class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}">
            {{ .Name }}
          </a>
        </div>
      {{ end }}
    </nav>

    <div class="clearfix"></div>
  </div>
</header>
