<li class="summary-item summary-item--compact">
  <a href="{{ .item.Permalink }}" title="{{ .title }}">
    <div class="content-item__row">
      <div class="content-item__meta list-item__date">
        <small>
          <!-- [TODO] Icon partial goes here. -->
          <!-- {% include icon.html post_or_event=include.list_item %} --> &nbsp;
          <i class="jf-i jf-i-thumbs-o-up"></i> <!-- here as a placeholder -->

          <!-- [TODO] Date partial goes here. -->
          <time datetime="{{ dateFormat "2006-01-02" .date }}" title="{{ dateFormat "2006-01-02" .date }}">
            {{ dateFormat "Jan 02" .date }}
          </time>
        </small>
      </div>

      <div class="content-item__body">
        <h4 class="content-item__title">
          {{ .title }}
        </h4>
      </div>
    </div>
  </a>
</li>
