{{ define "content" }}
  <div class="event">
    {{ partial "event-meta.html" . }}

      <h3 class="content-title">
        {{ if .Params.event.url }}
          <a href="{{ .Params.event.url }}">
            {{ partial "event-name.html" . }}
          </a>
        {{ else }}
          {{ partial "event-name.html" . }}
        {{ end }}
      </h3>

      {{ partial "event-subtitle.html" . }}

      <article>
        {{ .Content }}

        {{ if not .Content }}
          {{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Params.name }}{{ end }}
        {{ end}}
      </article>
  </div>
{{ end }}
