{{ define "content" }}
  <section class="hero">
    <div class="container--lg">
      <img src="https://s3.amazonaws.com/assets.jxf.me/images/jf.jpeg" alt="picture of John Feminella" class="hero-image">

      <h1 class="hero-title">
        {{ i18n "site.owner.name" }}
      </h1>

      <p class="hero-description">
        {{ i18n "site.owner.description" }}
      </p>

      <nav class="social">
        {{ range $.Site.Data.index }}
          {{ range .social_networks }}
            <a class="social-link" href="{{ .link }}" title="{{ if .title }}{{ .title }}{{ else }}me on {{ .network }}{{ end }}">
              <i class="jf-i {{ .icon }} social-link-icon"></i>
            </a>
          {{ end }}
        {{ end }}
      </nav>
    </div>
  </section>

  <div class="container--lg">
      <div class="grid-row">
        <section class="summary-container">
          {{ partial "summary-content-list.html" (dict "resourceType" "entries" "sortKey" "date" "content" .) }}
        </section>

        <section class="summary-container">
          {{ partial "summary-content-list.html" (dict "resourceType" "events" "sortKey" "event.date_range" "content" .) }}
        </section>
      </div>
  </div>
{{ end }}
