.header {
  padding: 1rem 0;
}

.header-brand,
.header-nav-item {
  line-height: 2;
  vertical-align: middle;
}

.header-brand {
  float: left;
  font-weight: bold;
}

.header-nav {
  float: right;
  list-style-type: none;
  margin: 0;
}

.header-nav-item {
  display: inline;
  padding: 0 0 0 .5rem;

  & .active {
    font-weight: bold;
  }

  &:after {
    content: ' \0000b7';
    margin-left: .5rem;
  }

  &:last-child:after {
    content: '';
  }
}

.header a,
.header a:visited, {
  color: $text-color;
}

.header a:focus,
.header a:hover,
.header a:active, {
  color: $link-color;
}
