.hero {
  @extend .p2;

  background-color: #fafafa;
  text-align: center;
}

.hero-image {
  border-radius: 50%;
  width: 200px;
}

.hero-description {
  @extend .caps;
  
  font-size: 1.121rem;
  width: auto;

  @media screen and (min-width: $screen-l) {
    margin: 0 auto;
    width: 75%;
  }
}
