.pagination {
  @extend .my2;

  width: 75%;

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
}

.subscribers {
  @extend .my2;

  border: 1px solid gray;
  padding: 1rem;
}

.comments {
  @extend .my2;
}
