body {
  counter-reset: sidenote-counter;
}

article {
  position: relative;
}

.marginnote,
.sidenote,
article > :not(canvas):not(.full-width).sidenote,
article > :not(canvas):not(.full-width).marginnote {
  float: right;
  clear: right;
  width: 30%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: $sans-font-family__alt;
  font-size: 0.88rem;
  opacity: 0.75;
  vertical-align: baseline;
  position: absolute;
  right: -10%;

  @media (max-width: 60em) {
    display: none;
  }

  @media (max-width: 76em) {
    width: 25%;
    right: -1%;
  }

  .MathJax_SVG_Display {
    display: inline-block !important;
    width: auto;
  }

  p {
    font-size: 0.88rem;
  }
}

.sidenote-number {
  counter-increment: sidenote-counter;

  &:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
  }
}

.sidenote-number:after,
.sidenote:before {
  content: counter(sidenote-counter) " ";
  position: relative;
  vertical-align: baseline;
  font-family: $sans-font-family__alt;
  font-size: 0.88rem;
}

.sidenote-number,
.sidenote:before {
  content: counter(sidenote-counter) " ";
  top: -0.5rem;
  opacity: 0.75;
}

label {
  &.sidenote-number {
    display: inline;
  }

  &.margin-toggle:not(.sidenote-number) {
    display: none;

    @media (max-width: 60em) {
      display: inline;
    }
  }

  @media (max-width: 60em) {
    cursor: pointer;
  }
}

input.margin-toggle {
  display: none;
}

@media (max-width: 60em) {
  .margin-toggle {
    border-bottom: thin #444 dotted;
    color: #3498db;

    &:checked + .sidenote,
    &:checked + .marginnote {
      display: block;
      float: left;
      left: 1rem;
      clear: both;
      width: 95%;
      margin: 1rem 2.5%;
      vertical-align: baseline;
      position: relative;
    }
  }

  .sidenote-number.sidenote-number {
    border-bottom: none;
  }
}
